.add-to-cart-block {
    justify-content: center;
    margin-bottom: 20px;
}

.product-price{
    text-align: center;
    font-size: 25px;
}

.product-feautures{
    margin-bottom: 10px;
    font-size: 19px;
    span {
        font-weight: bold;
    }
}

.product-descr{
    font-size: 19px;
}

.product-img{
    text-align: center;
    img{
        width: 150px;
        height: 0 auto;
    }
}

.product-quantity {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    input {
        text-align: center;
    }
}