.text-field {
    width: 400px;
}

.form-btn {
    padding: 10px 20px;
    width: 200px;
    border: none;
    background-color: gray;
    cursor: pointer;
    color: white;
    transition: 0.5s;
    border-radius: 10px;

    &:hover {
        background-color: black;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}